<!doctype html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <title>Bid Automation</title>
</head>
<body>
<div align="center">
   <h2>Upload new File</h2>
   <form method=post enctype=multipart/form-data>
       <p>Input Source<p><select name="input">
            <option value="ironsource_dash">Ironsource Dash</option>
            <option value="acquired">Aquired.io</option>
            <option value="big_query">Big Query Export</option>
       </select>
       <p>Output Source<p><select name="output">
            <option value="ironsource">Ironsource </option>
            <option value="unity">Unity</option>
            <option value="vungle">Vungle</option>
       </select>
       <p>Install Bias Method<p><select name="install_bias_method">
            <option value="hard cutoff">Hard Cutoff(default)</option>
            <option value="weighted average">Weighted Average</option>
       </select>
       <p>Bid Calculation Method<p><select name="bid_calculation_method">
            <option value="roas">ROAS</option>
            <option value="ecpm">ECPM</option>
       </select>
       <p>Target<p><input type="text" name="target"></input>
       <p>Custom Baseline<p><input type="text" name="baseline"></input>
       <p>Custom Maximum Bid Value<p><input type="text" name="max_bid_cap"></input>
       <p>Minimum Bid Value<p><input type="text" name="min_bid_cap"></input>
       <p>Install Threshold<p><input type="text" name="install_threshold"></input>
       <p>Select bid sheet<p><input type=file name=file>
       <input type=submit value=Upload>
   </form>
</div>
</body>
</html>
